dl {
	display: block;
	margin:0px;
}


dl.sportstack { 
	width: 600px; 
	font-family: Arial, sans-serif; 
	font-size: 12px 
}

/* Level 1 headers */
dl.sportstack dt { 
	background: #000; 
	color: #FFF; 
	font-weight: bold; 
	padding: 20px;
}

/* Level 2 headers */
dl.sportstack #level2 dt  { 
	background: #FFCC00; 
	padding: 10px;
}

/* Closed block */
dl.sportstack dd { 
	padding: 0px; 
	margin: 0px;
}

/* Open block */
dl.sportstack dd.xpanded { 
	/*padding: 100px;*/
}

dl dd {
    -webkit-transition: max-height .5s ease;
    -moz-transition: max-height .5s ease;
    transition: max-height .5s ease;
    overflow: hidden;
}

dl dd.xpanded {
	/*display:none*/
	/*height: auto;*/
    /*min-height:40px;*/
    max-height:0%;
}

dl dd.collapsed {
	max-height:100%;
}


